<div fxLayout="column wrap" style="height:100vh" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <mat-card style="height:50%; width:50%">
    <mat-card-content>
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><span>
                Random Text</span></div>
          <div fxLayout="column wrap" fxFlex="50" fxLayoutGap="0.5em" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false"><button mat-raised-button>Hospital</button><button mat-raised-button>Sipplier</button>
            <div>
            </div><button mat-raised-button class="width-3em"></button>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>